* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #333333;
    color: white;
    text-align: center;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #A7C17D;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.upload-container {
    margin-bottom: 20px;
}

.upload-button, .download-button {
    background-color: #A7C17D;
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upload-button:hover, .download-button:hover {
    background-color: #8DA05D;
}

.resolution-settings {
    margin: 20px 0;
}

.hidden {
    display: none !important;
}

.image-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.image-card img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-card:hover img {
    transform: scale(1.05);
}
